@charset "UTF-8";
/* 回答はここから */

/*text-alignを使って左右中央寄せ*/
.box-1{
  background-color: #fff;
  width: 200px;
  padding:20px 0;
  display: inline-block;
}

.text-box{
  text-align:center;
}

.text-align{
  display: inline-block;
  background-color: #a4b3e9; width: 90px;
  padding: 10px;
  font-size: 16px;
}

/*marginを使って左右中央寄せ*/
.box-2{
  background-color: #fff;
  width: 200px;
  padding:20px 0;
  display: inline-block;
}

.margin-text{
  text-align: center;
}

.margin{
  text-align: center;
  width: 90px; background-color: #a4b3e9;
  font-size: 16px;
  padding: 10px;
  margin: 0 auto;
}

/*tableを使って上下左右中央寄せ*/
.q1--perimeter{
  display: table;
}
.table-box{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.table-text{
  font-size: 16px;
  display:inline-block;
  padding:10px;background-color: #fff;
}

/*flexを使って上下左右中央寄せ*/
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.flex-text{
  font-size: 16px;
  padding: 10px;background-color:#fff;
  text-align: center;
}

/*positionを使って上下左右中央寄せ*/
.position-box{
  width: 250px; height: 150px;
  background-color: #fff;
  display: inline-block;
  position: relative;
  margin: auto;
}

.position-text{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  background-color: #a4b3e9; width: 90px;
  vertical-align: top;
  padding: 10px;
}

.position{
  font-size: 16px;
  text-align: center;
}
