@charset "UTF-8";

.box{
  display: table-cell;
  padding: 20px;
  text-align: center;
  vertical-align: middle;
}

.bar-1{
  display: table;
  width: 100%;
  margin-bottom: 50px;
}

.red{
  background-color: #ff7b7b;
  width: 300px;
}

.purple{
  background-color: #7b86ff;
}

.yellow{
  background-color: #fff27b;
  width: 300px;
}

.bar-2{
  display: table;
  width: 100%;
}

.green{
  background-color: #7bff91;
}

.pink{
  background-color: #ff7be2;
  width: 400px;
}

.orange{
  background-color: #ffc67b;
  width: 400px;
}

.blue{
  background-color: #7bf2ff;
}