@charset "UTF-8";

.bar{
  display: table;
  width:100%;
  text-align: center;
}

.bar-1{
  display: table-cell;
  vertical-align: middle;
}

.red{
  background-color: #ff7b7b;
  width: 300px;
}

.purple{
  background-color: #7b86ff;
}

.yellow{
  background-color: #fff27b;
  width: 300px;
}

.bar-2{
  display: table-cell;
  vertical-align: middle;
  margin-top: 50px;
}

.green{
  background-color: #7bff91;
}

.pink{
  background-color: #ff7eb2;
  width: 400px;
}

.orange{
  background-color: #ffc67b;
  width: 400px;
}

.blue{
  background-color: #7bf2ff;
}