@charset "UTF-8";

.cell--table{
  table-layout: fixed;
  width: 100%;
}

.cell--table th,tr,td{
  border-collapse: collapse;
  border: 1px solid #000000;
  border-spacing: 10px;
  text-align: center;
  line-height: 26px;
  padding: 10px;
}

.cell--table th{
  background-color: #319c4a;
  font-size: 18px;
  line-height: 26px;
}

.cell--table tr,td{
  background-color: #d5ffc7;
  font-size: 16px;
  line-height: 22px;
}

.cell--table tbody tr:nth-child(even){
  background-color:#bcbcbc;
}

.cell--table tbody tr:last-child{
  border-top:1px double rgb(255, 255, 255)
}